
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    direction: rtl;
    text-align: right;
    margin: 0;
}

.searchbar {
    text-align: left;
    padding-top: 20px;
}

.searchbar > a {
    color: white;
    font-size: 13px;
    text-decoration: none;
    font-weight: bold;
    padding-left: 10px;
}

.searchbar > input {
    border-radius:  0 5px 0 0;
    border: none;
}

.searchbar > img {
    position: relative;
    top: 5px;
}

header {
    background-image: linear-gradient(gray, 80%, darkgray);
}

header > div, header > nav {
    padding: 0 400px;
}

header > nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    padding-bottom: 10px;
    display: block;
    text-align: center;
}

header > nav > ul > li {
    display: inline;
    padding: 0 10px;
    border-left: 1px solid lightgray;
}

header > nav > ul > li:last-child {
    border: none;
}

header > nav  ul > li > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

header > nav > ul > li > a:hover, .searchbar > a:hover {
    text-decoration: underline;
    color: #005CA0;
}

nav {
    position: relative;
}

header > nav > img {
    position: absolute;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    right: 10%;
    width: 150px;
    z-index: 2;
}

.dropdown > div > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: gray;
}

.dropdown > div > ul > li > a {
    text-decoration: none;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: inline-block;
    color: #005CA0;
}

.dropdown-content > ul > li {
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
}

.dropdown-content > ul > li:hover {
    background-color: #EEEEEE;
}

.dropdown-content > ul > li:hover > a {
    color: #005CA0;
    text-decoration: underline;
}

main {
    padding: 0 450px;
}

#contact-main {
    display: flex;
    padding-top: 20px;
}

#contact-main > .col:nth-child(1) > a {
    background-image: linear-gradient(white, 40%, lightgray);
    display: inline-block;
    height: 25px;
    width: 130px;
    font-size: 13px;
    text-decoration: none;
    color: black;
}

#contact-main > .col:nth-child(1), #contact-main > .col:nth-child(2) {
    padding-left: 20px;
}

#contact-main > .col:nth-child(3) {
    padding-top: 65px;
}

#contact-main > .col > p {
    font-size: 12px;
}

#contact-main > .col > form {
    background-image: url("images/contact_form_bg.png");
    background-repeat: no-repeat;
    font-size: 13px;
    width: 400px;
    padding: 5px 30px;
}

#contact-main > .col > form > div {
    padding: 0 50px;
}

#contact-main > .col > form > div > label {
    display: inline-block;
    width: 85px;
    height: 22px;
}

#contact-main > .col > form > div > input {
    width: 150px;
}

#contact-main > .col > form > div > button {
    display: block;
    margin-right: 210px;
    background-image: linear-gradient(#00A0E8, 40%, #00589B);
    color: white;
    border-radius:  0 5px 0 0;
    border: none;
}

#contact-main > .col > form > h3 {
    color: #004AA7;
}

#details > h3 {
    color: #004AA7;
}

#details {
    background-image: url("images/cube_bg.png");
    background-repeat: no-repeat;
    font-size: 13px;
    padding: 5px 0;
    width: 300px;
    height: 180px;
    margin-bottom: 20px;
    padding-right: 30px;
    text-align: right;
}

main > .row:nth-child(1) {
    padding-top: 30px;
}

main > .row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

main > .row > .col {
    position: relative;
}

main > .row:nth-child(1) > .col > img {
    border-radius: 0 0 20px 0;
}

main > .row:nth-child(1) > .col > div {
    background-image: url("images/hp_tab_text_bg.png");
    background-repeat: no-repeat;
    position: absolute;
    bottom: 15px;
    left: 30px;
    font-size: 13px;
    color: white;
    padding: 10px 15px;
}

#read-more {
    position: absolute;
    bottom: 5px;
    left: 10px;
    text-decoration: none;
    color: white;
}

#read-more > a {
    color: white;
}

#read-more > a:hover {
    text-decoration: underline;
    color: #005CA0;
}

main > .row:nth-child(2) > .col {
    background-image: url("images/small_cube_bg.png");
    background-repeat: no-repeat;
    width: 310px;
    padding-right: 20px;
    padding: 10px 20px;
}

main > .row:nth-child(2) > .col > img {
    padding: 25px 10px;
}

main > .row:nth-child(2) > .col:nth-child(3) > a {
    display: block;
    font-size: 13px;
    color: gray;
    padding: 5px 15px;
}

main > .row:nth-child(2) > .col:nth-child(3) > a:hover {
    text-decoration: none;
    color: #005CA0;
}

main > .row:nth-child(2) > .col:nth-child(3) > img {
    float: left;
}

.clear-fix::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    position:fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-image: linear-gradient(darkgray, 60%, gray);
    padding-top: 10px;
    padding-bottom: 5px;
}

footer > a {
    padding-right: 50px;
}

footer > a > img {
    position: relative;
    top: 3px;
}

footer > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display:inline-block;
}

footer > ul > li {
    display: inline-block;
    border-left: 1px solid white;
}

footer > ul > li:last-child {
    border-left: none;
}

footer > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    padding: 0 5px;
}

footer > ul > li > a:hover {
    text-decoration: underline;
    color: #005CA0;
}
